body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    color: white;
    text-align: center;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    margin-left: 790px;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

main {
    margin-top: 0px;
    overflow: hidden;
    background-color: #000; 
}

.text-container {
    text-align: center;
    margin: 20px;
}

.text-container a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    display: inline-block; 
}

.text-container a h2 {
    font-size: 30px;
    margin: 0;
    text-decoration: none;
}

.text-container a:hover {
    transform: scale(1.2); 
}

a:link, a:visited {
    text-decoration: none;
}

footer {
    background-color: #000;
    padding: 18px;
    text-align: center;
    color: white;
  }

  nav a:hover {
    background-color: pink;
    color: black; 
    border-radius: 10px;
  }